@font-face{
    font-family:"Bahnschrift";
    src: url(fonts/bahnschrift.ttf)
}

/* Kasutatud ainult ülemiste nuppude jaoks */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%)
    }
    100% {
        opacity: 1;
    }
}

/* Kasutatud ainult esimese "infokasti" jaoks */
@keyframes fadeInFromBelow {
    0% {
        opacity: 0;
        transform: translate(0px, 100%)
    }
    100% {
        opacity: 1;
    }
}

/* Kasutatud alates teisest reast "infokastide" jaoks */
@keyframes fadeInFromBelow_LowOpacity {
    0% {
        opacity: 0;
        transform: translate(0px, 100%)
    }
    100% {
        opacity: 0.05;
    }
}

body {
    font-family: "Bahnschrift";
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 10vh;
    margin: 0;
    background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(80,12,139,0.87) 0%, rgba(161,10,144,0.72) 83.6% );
    color: azure;
}

.flex-container {
    display: flex;
}

.menuButton {
    font-size: 1.5vw;
    margin: auto;
    text-align: center;
    width: 20%;
}

a {
    color: azure;
    text-decoration: none;
    transition: 100ms;
    padding:10px;
    border:5px azure solid;
    border-radius:15px;
}

a.menuButton:hover {
    color:rgb(146, 188, 255);
    border: 5px rgb(146, 188, 255) solid;
    transform: scale(0.95);
}

a:visited {
    color: azure;
}

.infoBox {
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(80,12,139,0.87) 0%, rgba(161,10,144,0.72) 83.6% );
    border:5px azure solid;
    border-radius:5px;
}

#firstInfoBox {
    animation: fadeInFromBelow ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
    transition: 0.3s;
}

.innerInfoBox {
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.image {
    z-index: 0;
    margin-top: 75px;
    width: calc(15vw + 15vh ) ;
    height: calc(15vw + 15vh ) ;
    margin-bottom: -25px;
    border-radius:5px;
    object-fit: cover;
    border: 3px azure solid;
}

.text {
    z-index: 1;
    align-content: center;
    text-align: justify;
    font-size: 1.5vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.bigText {
    font-size: 2vw;
}


/* Need neli ↓ võiks ka kuidagi ühtseks teha kui vähegi võimalik */
.tekst1p{
    text-align: justify;
    margin-left: 5.5vw;
    font-size: 35px;
}

.tekst1{
    text-align: justify;
    margin-left: 5.5vw;
    font-size: 25px;
    margin-bottom: 12vh;
}

.tekst2p{
    text-align: justify;
    margin-right: 22.5vw;
    font-size: 35px;
}

.tekst2{
    text-align: justify;
    margin-right: 4vw;
    font-size: 25px;
    margin-bottom: 12vh;
}

.fadeInEl {
    transform: translateY(50px);
    transition: 0.3s;
    opacity: 0.05;

    animation: fadeInFromBelow_LowOpacity ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}

.inViewEl {
    opacity: 1;
    transform: translateY(0px) scale(1.02);
}

.inViewEl .image {
    transition: 0.3s;
    transform: scale(1.1);
}

.inViewElNoScale {
    opacity: 1;
    transform: translateY(0px);
}

.aboveViewEl {
    transform: translateY(-50px);
}

.buttonContainer {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
    padding-bottom: 5vh;
    padding-top: 5vh;
}