@font-face{
    font-family:"Bahnschrift";
    src: url(fonts/bahnschrift.ttf)
}

/* Kasutatud ainult ülemiste nuppude jaoks */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%)
    }
    100% {
        opacity: 1;
    }
}

/* Kasutatud ainult esimese "infokasti" jaoks */
@keyframes fadeInFromBelow {
    0% {
        opacity: 0;
        transform: translate(0px, 100%)
    }
    100% {
        opacity: 1;
    }
}

/* Kasutatud alates teisest reast "infokastide" jaoks */
@keyframes fadeInFromBelow_LowOpacity {
    0% {
        opacity: 0;
        transform: translate(0px, 100%)
    }
    100% {
        opacity: 0.05;
    }
}

body {
    font-family: "Bahnschrift";
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 15%;
    margin: 0;
    background-image:linear-gradient(to right, #2980b9, #2c3e50);
    color: azure;
}

.flex-container {
    display: flex;
}

.menuButton {
    font-size: 1.5vw;
    margin: auto;
    text-align: center;
    width: 20%;
}

a {
    color: azure;
    text-decoration: none;
    transition: 100ms;
    padding:10px;
    border:5px azure solid;
    border-radius:15px;
}

a.menuButton:hover {
    color:rgb(146, 188, 255);
    border: 5px rgb(146, 188, 255) solid;
    transform: scale(0.95);
}

a:visited {
    color: azure;
}

.infoBox {
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-image: linear-gradient(to right, #28475c, #182431);
    border:5px azure solid;
    border-radius:5px;
}

#firstInfoBox {
    animation: fadeInFromBelow ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
    transition: 0.3s;
}

.innerInfoBox {
    flex-direction: column-reverse;
    width: 50%;
    align-items: center;
}

.image {
    margin-top: 75px;
    width: calc(14vw + 14vh);
    height: calc(14vw + 14vh);
    margin-bottom: -25px;
    border-radius:5px;
    object-fit: cover;
    border: 3px azure solid;
}

/* Need neli ↓ võiks ka kuidagi ühtseks teha kui vähegi võimalik */
.tekst1p{
    margin-top: 10vh;
    margin-left: 5.5vw;
    font-size: 35px;
}

.tekst1{
    margin-left: 5.5vw;
    font-size: 25px;
    margin-bottom: 12vh;
}

.tekst2p{
    margin-top: 10vh;
    margin-right: 22vw;
    font-size: 35px;
}

.tekst2{
    margin-right: 4vw;
    font-size: 25px;
    margin-bottom: 16.5vh;
}

.tekst3p{
    margin-top: 10vh;
    margin-left: -10.5vw;
    font-size: 35px;
}

.tekst3{
    margin-left: 5.5vw;
    font-size: 25px;
    margin-bottom: 12vh;
}

.tekst4p{
    margin-top: 10vh;
    margin-right: 24.5vw;
    font-size: 35px;
}

.tekst4{
    margin-right: 4vw;
    font-size: 25px;
    margin-bottom: 16.5vh;
}

.fadeInEl {
    transform: translateY(50px);
    transition: 0.3s;
    opacity: 0.05;

    animation: fadeInFromBelow_LowOpacity ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}

.inViewEl {
    opacity: 1;
    transform: translateY(0px) scale(1.02);
}

.inViewElNoScale {
    opacity: 1;
    transform: translateY(0px);
}

.aboveViewEl {
    transform: translateY(-50px);
}

.buttonContainer {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

@media screen and (max-width: 1200px) {
    .image {
        width: 25vw;
        height: 35vh;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 1500px) {
    .tekst2{
        margin-bottom: 4vh;
    }

    .tekst2p{
        margin-right: 18vw;
        margin-top: 5vw;
    }

    .tekst3{
        margin-bottom: 4vh;
    }

    .tekst3p{
        margin-left: -5vw;
        margin-top: 3vw;
    }

    .tekst4{
        margin-bottom: 4vh;
    }

    .tekst4p{
        margin-right: 21vw;
        margin-top: 5vw;
    }

}